# This docker compose setup configures:
# - the Unleash server instance + the necessary backing Postgres database
#
# To learn more about all the parts of Unleash, visit
# https://docs.getunleash.io/understanding-unleash/unleash-overview
#
# NOTE: please do not use this configuration for production setups.
# Unleash does not take responsibility for any data leaks or other
# problems that may arise as a result.
#
# This is intended to be used for demo, development, and learning
# purposes only.

services:

  # The Unleash server contains the Unleash configuration and
  # communicates with client SDKs and Unleash Edge
  web:
    image: unleashorg/unleash-server:latest
    ports:
      - "4242:4242"
    environment:
      # This points Unleash to its backing database (defined in the `db` section below)
      # DATABASE_URL: ${UNLEASH_DB_URL}
      DATABASE_HOST: ${UNLEASH_DB_HOST}
      DATABASE_PORT: ${UNLEASH_DB_PORT:-5432}
      DATABASE_USERNAME: ${UNLEASH_DB_USERNAME}
      DATABASE_PASSWORD: ${UNLEASH_DB_PASSWORD}
      DATABASE_NAME: ${UNLEASH_DB_NAME}
      # Disable SSL for database connections.
      DATABASE_SSL: '{"rejectUnauthorized": false}'
      # Changing log levels:
      LOG_LEVEL: "warn"
      INIT_FRONTEND_API_TOKENS: ${UNLEASH_INIT_FRONTEND_API_TOKENS}
      # The default API token is insecure and should not be used in production.
      INIT_BACKEND_API_TOKENS: ${UNLEASH_INIT_BACKEND_API_TOKENS}
    # depends_on:
    #   db:
    #     condition: service_healthy
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:4242/health || exit 1
      interval: 1s
      timeout: 1m
      retries: 5
      start_period: 15s
